body {
  background-color: black;
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
  color: white;
  font-size: 2em;
}
#firstlien {
  margin-left: 3.5em;
}
a {
  margin-right: 3em;
}
#article1 {
  border: solid white 3px;
  margin-top: 2em;
}
#article2 {
  border: solid white 3px;
  margin-top: 2em;
  padding-top: 1em;
}
#article3 {
  border: solid white 3px;
  margin-top: 2em;
}
header {
  background-color: silver;
  background-size: cover;
  margin-left: 15%;
  margin-right: 15%;
  padding: 10px;
  border: solid black;
  border-radius: 45px;
  border-width: 5px;
}
a:visited {
  color: white;
}
a {
  text-decoration: underline;
  color: white;
}
​h1 {
  color: white;
  font-size: 3em;
}
​h2 {
  font-family: sans-serif;
  color: black;
  text-align: center;
}
​li {
  line-height: 2em;
}

/*Mobile-friendly*/

@media (max-width: 1024px) {
  header {
    display: none;
    text-align: left;
  }
  #firstlien {
    margin-left: 0em;
  }
  a:visited {
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.8em;
    line-height: 0.9em;
  }
  body {
    background-color: black;
    background-attachment: fixed;
    background-size: 100%;
    text-align: left;
    color: white;
    font-size: 1em;
    line-height: 22px;
  }
  ​h1 {
    color: white;
    font-size: 1em;
  }
  h2 {
    font-family: sans-serif;

  }
  ​li {
    line-height: 2em;
  }
}
