a:link {color: white;}

a:visited {color: white;}

a {text-decoration: none;
margin: auto;}

body

{

  background-image: url("http://laravelista.com/content/images/2015/01/git.jpg");

  background-attachment: fixed;

  background-size: 100%;

  text-align: center;

  color:white;

  font-size:2em;

}

​

h2

{

  font-family: sans-serif;

  color: black;

  text-align: center;

}

​

li

{

  line-height: 2em;

}

​

h1

{

  color: white;

  font-size: 3em;

}

​

#container

{

  background-color: silver;

  background-size: cover;



  position: absolute;

  border: solid 0.75em black;

  border-radius: 1.50em;

}

​

#logo{

  position: absolute;

  top: 1em;

  left: 3em;

}
